{% extends "base.html" %}
{% load widget_tweaks %}


{% block content %}
  <form class="form-signin" method="post">{% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    {% if form.non_field_errors %}
      <div class="control-group error">
        <span class="help-inline">{{ form.non_field_errors }}</span>
      </div>
    {% endif %}
    <div class="control-group {% if form.username.errors %}error{% endif %}">
      <div class="controls">
        {% render_field form.username class="input-block-level" placeholder="Username" %}
        {% if form.username.errors %}
          <span class="help-inline">{{ form.username.errors.as_text }}</span>
        {% endif %}
      </div>
    </div>
    <div class="control-group {% if form.password.errors %}error{% endif %}">
      <div class="controls">
        {% render_field form.password class="input-block-level" placeholder="Password" %}
        {% if form.password.errors %}
          <span class="help-inline">{{ form.password.errors.as_text }}</span>
        {% endif %}
      </div>
    </div>
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
  </form>
{% endblock %}
